body {
    background: #f0f0f0;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    width: 95%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

#message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
